.sortable-list {
    .duplicator {
        white-space: nowrap;
    }
    .status-toggle {
        cursor: pointer;
        white-space: nowrap;
    }
    .sort-handle:hover {
        color: #4b9ad9;
        cursor: move;
    }
}
